@media screen {
  /* --- Reset Styles --- */
  * {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  html, body {
    height: 100%;
    width: 100%;
  }

  /* --- Welcome Page Styles --- */
  body {
    background-image:url("../images/art2.jpg");
    background-size: cover;
  }


  h1 {
    font-family: "Open Sans";
    font-size: 39px;
    font-weight: 400;

  }

  h2 {
    border-bottom: 2px solid #ccc;
    font-size: 24px;
    line-height: 36px;
    margin-bottom: 16px;
  }

  h3 {
    font-size: 18px;
    line-height: 36px;
  }

  p {
    margin-bottom: 18px;
  }

  .main {
    overflow: hidden;
  }

  .intro {
  width: 694px;
  height: 107px;
  color: #707070;
  font-family: "Open Sans";
  font-size: 39px;
  font-weight: 400;
  text-align: center;
  margin: 2000px 70px;
  float: right;
  }

.button {
  background-color:#8ad0ea;
	-moz-border-radius:28px;
	-webkit-border-radius:28px;
	border-radius:28px;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family: "Open Sans";
	font-size:17px;
	padding:12px 50px;
  margin: 8px 0;
	text-decoration:none;
}

.form {
  width: 694px;
  height: 107px;
  color: #707070;
  font-family: "Open Sans";
  font-size: 20px;
  font-weight: 400;
  text-align: center;
  margin: 150px 70px;
  float: right;
}

.show {
  width: 694px;
  height: 107px;
  color: #707070;
  font-family: "Open Sans";
  font-size: 20px;
  font-weight: 400;
  text-align: center;
  margin: 150px 70px;
  float: right;
}

input[type=text], select {
  width: 30%;
  margin: 8px 0;
  padding: 12px 50px;
  border-radius: 80px;
  border: 1px solid #707070;
  opacity: 0.6;
  font-size:17px;
  text-align: center;
}

input[type=submit] {
  background-color:#8ad0ea;
  border-radius: 80px;
  cursor:pointer;
  color:#ffffff;
  font-family: "Open Sans";
  font-size:17px;
  width: 45%;
  margin: 8px 0;
  padding: 12px 50px;
  text-decoration:none;
  text-transform: uppercase;
}

a:link, a:visited, a:hover, a:active {
  color: #707070;
  text-decoration: none;
}

  .content {
    float: left;
    width: 60%; /* 480px / 800px */
  }

  .sidebar {
    background: #eee;
    border: 1px solid #ccc;
    float: right;
    padding: 2.08333333333%; /* 5px / 240px */
    width: 30%; /* 240px / 800px */
  }

  .sidebar ul {
    font-size: 14px;
  }

  .branding {
    clear: both;
  }

  footer.branding {
    border-top: 2px solid #ccc;
    margin-top: 20px;
    padding-top: 20px;
  }
}

@media screen and (max-width: 600px) {
  .wrapper {
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    width: auto;
  }

  .content, .sidebar {
    float: none;
    width: 100%;
  }

  .sidebar {
    background: transparent;
    border: none;
    border-top: 2px solid #ccc;
    padding: 0;
  }

  h1 {
    font-size: 24px;
    line-height: 36px;
  }

  h2 {
    font-size: 18px;
    line-height: 24px;
  }
}
