<!DOCTYPE html>
    <html class="no-js" lang="en">
      <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge, chrome=1" />
        <title></title>
        <link rel="stylesheet" href="/stylesheets/subpages.css" />
      </head>
      <body>
          <div class="form">

            <% if flash[:message] %>
            <p style="color:red; font-size: 13px"> <%= flash[:message] %> </p>
            <% end %>

            <form method="POST" action="/exhibits">
            <input type="text" name="title" value="" placeholder="TITLE">
            <br>
            <input type="text" name="deadline" value="" placeholder="DEADLINE">
            <br>
            <input type="text" name="medium" value="" placeholder="MEDIUM">
            <br>
            <input type="text" name="exhibit_date" value="" placeholder="EXHIBIT DATE">
            <br>
            <input type="text" name="location" value="" placeholder="LOCATION">
            <br>
            <input type="text" name="entry_fee" value="" placeholder="ENTRY FEE">
            <br>
            <br>
            <input type="submit" value="Create Exhibit">
            </form>
          </div>

        </body>
      </html>
