<h1> Log In </h1>

<form method="POST" action="/login">
  <label>Username</label>
    <input type="text" name="username" value="">
    <label>Password</label>
    <input type="text" name="password" value="">
    <input type="submit" value="Login">
  </form>
