<h1> Sign Up </h1>

<form method="POST" action="/users">
  <label>Name</label>
    <input type="text" name="name" value="">
  <label>Username</label>
    <input type="text" name="username" value="">
    <label>Password</label>
    <input type="text" name="password" value="">
    <input type="submit" value="Sign Up">
  </form>
