<!DOCTYPE html>
    <html class="no-js" lang="en">
      <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge, chrome=1" />
        <title></title>
        <link rel="stylesheet" href="/stylesheets/subpages.css" />
      </head>
      <body>
          <div class="form">
            
            <% if flash[:message] %>
            <p style="color:red; font-size: 13px"> <%= flash[:message] %> </p>
            <% end %>

            <form method="POST" action="/users">
              <label>NAME</label>
              <br>
                <input type="text" name="name" value="">
                <br>
              <label>USERNAME</label>
              <br>
                <input type="text" name="username" value="">
                <br>
                <label>PASSWORD</label>
                <br>
                <input type="text" name="password" value="">
                <br>
                <input type="submit" value="Sign Up">
                <br>
                <a href="/login">Already have an account? Login.</a>
              </form>
          </div>

        </body>
      </html>
